<div class="drawer lg:drawer-open max-w-7xl xl:max-w-[1669px] mx-auto lg:px-8 lg:gap-8">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex-1">
    <!-- Page content here -->
    <admin-navbar></admin-navbar>
    <div class="max-lg:px-4 py-4">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="drawer-side z-50! font-montserrat">
    <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
    <div id="menu" class="bg-white min-h-screen text-neutral w-80 h-screen overflow-y-auto px-4 lg:px-0">
           <div id="logo" class="py-0 lg:py-3">
                <a class="btn btn-ghost text-xl pb-[2px] cursor-pointer hover:bg-inherit hover:border-transparent border-transparent max-lg:hidden" routerLink="/">Tesso <span class="text-primary">| Shop</span></a>
                <p class="px-4 pt-5 pb-[0.55rem] lg:pt-0 lg:pb-0 text-primary lg:text-secondary text-lg"><span class="text-base-content lg:text-secondary">Manage</span> your products</p>
           </div>
           <div class="divider px-4 my-0"></div>
           <div id="profile" class="text-base-content pt-4 pb-4">
            <p class="mb-2 text-secondary">Welcome back,</p>
            <a href="#" class="inline-flex space-x-3 items-center">
                <span>
                    <img class="rounded-full w-8 h-8" src="https://images.unsplash.com/photo-1542909168-82c3e7fdca5c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=128&q=80" alt="">
                </span>
                <span class="text-base font-semibold">
                    {{user()?.fullName}}
                </span>
                </a>
           </div>
           <div class="divider px-4 my-0"></div>
           <ul id="nav" class="menu w-full px-0 my-2 gap-2">
            <li>
              <a routerLink="/admin" routerLinkActive="menu-active" [routerLinkActiveOptions]="{exact: true}">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6A2.25 2.25 0 016 3.75h2.25A2.25 2.25 0 0110.5 6v2.25a2.25 2.25 0 01-2.25 2.25H6a2.25 2.25 0 01-2.25-2.25V6zM3.75 15.75A2.25 2.25 0 016 13.5h2.25a2.25 2.25 0 012.25 2.25V18a2.25 2.25 0 01-2.25 2.25H6A2.25 2.25 0 013.75 18v-2.25zM13.5 6a2.25 2.25 0 012.25-2.25H18A2.25 2.25 0 0120.25 6v2.25A2.25 2.25 0 0118 10.5h-2.25a2.25 2.25 0 01-2.25-2.25V6zM13.5 15.75a2.25 2.25 0 012.25-2.25H18a2.25 2.25 0 012.25 2.25V18A2.25 2.25 0 0118 20.25h-2.25A2.25 2.25 0 0113.5 18v-2.25z" />
                </svg>
                <div class="flex flex-col">
                    <span class="text-base">Dashboard</span>
                    <span class="text-sm text-secondary  -mt-1">Data Overview</span>
                </div>
              </a>
            </li>
            <li>
              <a routerLink="/admin/products" routerLinkActive="menu-active">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
                      </svg>                      
                </div>
                <div class="flex flex-col">
                    <span class="text-base">Products</span>
                    <span class="text-sm text-secondary  -mt-1">Products List</span>
                </div>
              </a>
            </li>
           </ul>
           <div class="divider px-4 my-0"></div>
           <button class="btn btn-soft btn-error btn-lg px-3 w-full justify-start my-4 gap-2 text-base font-medium" (click)="authService.logout()">
               <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24"> <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="1.5"> <path stroke-linejoin="round" d="M15 12H2m0 0l3.5-3M2 12l3.5 3" /> <path d="M9.002 7c.012-2.175.109-3.353.877-4.121C10.758 2 12.172 2 15 2h1c2.829 0 4.243 0 5.122.879C22 3.757 22 5.172 22 8v8c0 2.828 0 4.243-.878 5.121c-.769.769-1.947.865-4.122.877M9.002 17c.012 2.175.109 3.353.877 4.121c.641.642 1.568.815 3.121.862" /> </g> </svg>
               <span class="inline-flex">Logout</span>
           </button>
    </div>
  </div>
</div>