<div class="relative h-full flex flex-col-reverse sm:flex-row items-center gap-2 animate-fadeIn">
    <div class="relative sm:min-w-[50px] max-sm:px-4 sm:py-4 overflow-hidden after:absolute after:w-full after:h-full after:top-0 after:left-0 after:pointer-events-none sm:after:bg-linear-[white,transparent_7%,transparent_93%,white] max-sm:after:bg-linear-[90deg,white,transparent_7%,transparent_93%,white] after:z-1">
        <div class="swiper max-w-[175px]! sm:w-[50px] sm:max-h-[215px]! overflow-visible!" [class]="{'hidden!': images().length < 1}" #swiperThumbDiv thumbsSlider="">
            <div class="swiper-wrapper sm:justify-center items-center gap-1">
                @for(image of images(); track image){
                    <div class="swiper-slide w-[40px]! h-[50px]! overflow-hidden border-[0.5px] border-gray-500 border-solid rounded-lg cursor-pointer">
                        <img [src]="image | productImage" class="block w-full h-full object-cover">
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="swiper w-full!" #swiperDiv>
        <div class="swiper-wrapper">
            @for(image of images(); track image){
                <div class="swiper-slide">
                    <img [src]="image | productImage" class="block aspect-square w-full h-full object-contain!">
                </div>
            }@empty {
                <div class="swiper-slide">
                    <img [src]="null | productImage" class="block aspect-square w-full h-full object-contain!">
                </div>
            }
        </div>
        <div class="swiper-button-next after:!hidden w-1/12!">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6! h-10!" viewBox="7 7 10 10">
	            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.9" d="M9 6s6 4.419 6 6s-6 6-6 6" />
            </svg>
        </div>
        <div class="swiper-button-prev after:!hidden w-1/12!">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6! h-10!" viewBox="7 7 10 10">
	            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.9" d="M15 6s-6 4.419-6 6s6 6 6 6" />
            </svg>
        </div>
    </div>
</div>

